@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  height: 100%;
  line-height: 1;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* ============================== */
html.dark body {
  background-color: #151515;
}

html.light body {
  background-color: #f4f4f4;
}

.hidden {
  display: none !important;
}

/* General wrapper */
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

/* General container blocks */
[class*=__container] {
  max-width: 1450px;
  margin: 0px auto;
}

.container-max {
  max-width: 1540px;
  margin: 0px auto;
}

.__ibg {
  position: relative;
}

.__ibg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* =========== HEADER ==========*/
.header {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
}

html.dark header {
  background-color: #151515;
}
html.dark .header__logo-name {
  color: #FF8C42;
}
html.light header {
  background-color: #f4f4f4;
}
html.light .header__logo-name {
  color: #FF5B00;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 145px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo {
  display: block;
}

.header__logo-dark {
  display: inline-block;
  margin: 0px 6px 0px 0px;
}

.header__logo-light {
  display: inline-block;
  margin: 0px 6px 0px 0px;
}

.header__logo-name {
  display: inline-block;
  font-weight: 600;
  font-size: 48px;
}

/* =========== MENU ==========*/
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3px;
}

.menu__item {
  text-align: center;
}
.menu__item:not(:last-child) {
  margin: 0px 45px 0px 0px;
}

html.dark .menu__link {
  color: #FF8C42;
}
html.light .menu__link {
  color: #FF5B00;
}

.menu__link {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
}
.menu__link:hover {
  text-decoration: underline;
}

/* =========== PAGE ==========*/
.page__family {
  position: relative;
}

/* =========== FAMILY ==========*/
.family__body {
  display: flex;
  justify-content: space-between;
}

.family__content {
  padding: 314px 0px 134px 0px;
  position: relative;
  width: 40%;
}
.family__content > *:not(:last-child) {
  margin-bottom: 72px;
}

.family__title {
  font-weight: 600;
  font-size: 90px;
  line-height: 1.25;
}

html.dark .family__title {
  color: #FF8C42;
}
html.dark .family__subtitle {
  color: #FF8C42;
}
html.dark .form-search__input {
  border: 4px solid #FF8C42;
}
html.dark .form-search__btn {
  background: #FF8C42;
  border: 4px solid #FF8C42;
}
html.dark .family__btn {
  background-color: #FF8C42;
}
html.dark .family__btn-link {
  color: #FFFFFF;
  background-color: #FF8C42;
}
html.light .family__title {
  color: #FF5B00;
}
html.light .family__subtitle {
  color: #7B3000;
}
html.light .form-search__input {
  border: 4px solid #FF5B00;
}
html.light .form-search__btn {
  background: #FF5B00;
  border: 4px solid #FF5B00;
}
html.light .family__btn {
  background-color: #FF5B00;
}
html.light .family__btn-link {
  color: #F4F4F4;
  background-color: #FF5B00;
}

.family__subtitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.25;
  text-transform: capitalize;
}

.form-search {
  display: flex;
  align-items: center;
}

.form-search__input {
  border-radius: 5px;
  width: 283px;
  height: 48px;
  background-color: inherit;
  margin-right: 8px;
}

.form-search__btn {
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  width: 210px;
  height: 48px;
}

.form-search__icon {
  display: inline-block;
  margin: 0px 12px 0px 8px;
}

.form-search__text {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}

.family__btn {
  display: inline-block;
  width: 191px;
  height: 68px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.family__btn-link {
  font-weight: 600;
  font-size: 24px;
}

.family__image {
  width: 60%;
  padding-right: 20px;
  position: relative;
}

.family__image-burger {
  position: absolute;
  top: 168px;
  left: 0;
  width: 100%;
  height: 100%;
}
.family__image-burger img {
  max-width: 100%;
  height: auto;
}

.family__image-sun {
  position: absolute;
  bottom: 62px;
  right: 18px;
}

.family__image-moon {
  position: absolute;
  bottom: 62px;
  right: 18px;
}

/* =========== PRICELIST ==========*/
.menu {
  padding-top: 145px;
}

.menu__header {
  padding: 16px 0px 0px 0px;
  padding-left: 52%;
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-size: 152px;
  line-height: 100%;
}

html.dark .menu__header {
  color: #FF8C42;
}
html.dark .item-menu__header {
  color: #FFDDC8;
}
html.dark .item-menu__option {
  color: #FFDDC8;
}
html.light .menu__header {
  color: #FF5B00;
}
html.light .item-menu__header {
  color: #7B3000;
}
html.light .item-menu__option {
  color: #7B3000;
}

.menu__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px -90px;
}

.menu__body-img {
  width: 30%;
}
.menu__body-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu__body-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
}

.menu__slice {
  width: 43%;
  padding: 21px 10px 0px 0px;
}

.item-menu__header {
  font-family: "Kosugi", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 44px;
  line-height: 100%;
  text-align: center;
}

.item-menu__header {
  margin: 0px 0px 75px 0px;
}

.item-menu__option {
  font-family: "Kosugi", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 28px;
  line-height: 100%;
}
.item-menu__option:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.item-menu__option:last-child {
  margin: 0px 0px 68px 0px;
}

.menu-option {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__gourmet {
  padding: 18px 0px 0px 0px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.menu__gourmet-items {
  flex: 1 1 auto;
}

/* =========== GOURMET ==========*/
.gourmet-items__header {
  font-family: "Kosugi", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 44px;
  line-height: 100%;
  margin: 0px 0px 73px 0px;
}

html.dark .gourmet-items__header {
  color: #FFDDC8;
}
html.dark .item-gourmet__header {
  color: #FFDDC8;
}
html.dark .item-gourmet__price {
  color: #FFDDC8;
}
html.dark .item-gourmet__text {
  color: #FFDDC8;
}
html.dark .menu__gourmet-btn {
  color: #FFDDC8;
  background-color: #FF8C42;
}
html.light .gourmet-items__header {
  color: #7B3000;
}
html.light .item-gourmet__header {
  color: #7B3000;
}
html.light .item-gourmet__price {
  color: #7B3000;
}
html.light .item-gourmet__text {
  color: #7B3000;
}
html.light .menu__gourmet-btn {
  color: #FFFFFF;
  background-color: #FF5B00;
}

.item-gourmet__item {
  margin: 0px 0px 44px 0px;
}

.item-gourmet__header {
  font-family: "Kosugi", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 100%;
  padding-left: 18px;
}

.item-gourmet__name {
  margin: 0px 0px 22px 0px;
}

.item-gourmet__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item-gourmet__price {
  font-family: "Kosugi", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 100%;
}

.item-gourmet__text {
  font-family: "Kosugi", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 138%;
  max-width: 346px;
}

.menu__gourment-btn__wrapper {
  height: 133px;
  padding-left: 30%;
}

.menu__gourmet-link {
  display: block;
}

.menu__gourmet-btn {
  font-family: "Kosugi", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  padding: 20px 50px;
  border-radius: 5px;
  text-transform: capitalize;
}

/* =========== BIG-BIRD ==========*/
.big-bird__container {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 68%;
}

html.dark .big-bird__container {
  background-image: url(../images/background__night/big_bird/pictures/line.png);
}
html.light .big-bird__container {
  background-image: url(../images/background__day/big_bird/pictures/line.png);
}

.big-bird__body {
  display: flex;
  flex-wrap: wrap;
}

.big-bird__column {
  flex: 1 1 50%;
}

/* =========== IMAGE ==========*/
.image-column__item {
  padding-top: 132px;
}

.image-column__title {
  padding: 7px 0px;
  margin: 9px 0px;
}

.image-column__subtitle {
  margin: 0px 0px 26px 0px;
}

.image-column__title,
.image-column__subtitle {
  font-family: "Quicksand", cursive;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  text-transform: capitalize;
  text-align: center;
}

html.dark .image-column__titlePart-one {
  color: #FF8C42;
}
html.dark .image-column__titlePart-two {
  color: #FFF;
}
html.dark .image-column__subtitlePart-one {
  color: #fff;
}
html.dark .image-column__subtitlePart-two {
  color: #FF8C42;
}
html.dark .list-items__item {
  color: #FFDDC8;
}
html.dark .list-column__buttons button {
  background-color: #FF8C42;
}
html.light .image-column__titlePart-one {
  color: #FF5B00;
}
html.light .image-column__titlePart-two {
  color: #7B3000;
}
html.light .image-column__subtitlePart-one {
  color: #7B3000;
}
html.light .image-column__subtitlePart-two {
  color: #FF5B00;
}
html.light .list-items__item {
  color: #7B3000;
}
html.light .list-column__buttons button {
  background-color: #FF5B00;
}

.image-column__subtitlePart-two {
  font-size: 96px;
}

.img-pizzaTaking {
  margin-left: -90px;
}

.img-pizzaTaking img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-column__item {
  padding: 293px 0px 0px 0px;
}

.list-column__list {
  margin-bottom: 171px;
}

.list-items__item {
  font-family: "Quicksand", cursive;
  font-weight: 600;
  font-size: 36px;
  line-height: 1;
  list-style-type: disc;
}
.list-items__item:not(:last-child) {
  margin: 0px 0px 38px 0px;
}
.list-items__item:nth-child(1) {
  margin-left: 400px;
}
.list-items__item:nth-child(2) {
  margin-left: 364px;
}
.list-items__item:nth-child(3) {
  margin-left: 328px;
}
.list-items__item:nth-child(4) {
  margin-left: 291px;
}
.list-items__item:nth-child(5) {
  margin-left: 255px;
}
.list-items__item:nth-child(6) {
  margin-left: 219px;
}
.list-items__item:nth-child(7) {
  margin-left: 185px;
}

.list-column__buttons {
  margin-left: 171px;
}
.list-column__buttons .order-online__btn {
  margin-right: 113px;
}
.list-column__buttons button {
  font-family: "Quicksand", cursive;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  color: #FFF;
  width: 201px;
  height: 60px;
  text-transform: capitalize;
}

/* =========== RESERVATION ==========*/
.page__reservation {
  padding-top: 145px;
}

html.dark .reservation__body {
  background-image: url(../images/background__night/reservation/pictures/spoon_and_bank.png), url(../images/background__night/reservation/pictures/red_pepper.png), url("../images/background__night/reservation/pictures/spoon_and_pepper.png"), url("../images/background__night/reservation/pictures/cabage_leaf.png");
  background-repeat: no-repeat;
  background-position: 0px 37px, 42% 0px, 28% 100%, 100% 100%;
  background-size: auto auto, auto auto, auto auto auto auto;
}
html.dark .reservation__form-terms {
  color: #FFFFFF;
}
html.dark .reservation__form-form {
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 3px;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.05);
}
html.dark .booking-form__title {
  color: #DDDDDD;
}
html.dark .booking-form__subtitle {
  color: #FFFFFF;
}
html.dark .booking-form__text {
  color: #FFFFFF;
}
html.dark .inputBlock__item {
  color: #FFFFFF;
}
html.dark .inputBlock__item input {
  border-bottom: 2px dashed #FFF;
  color: #FFFFFF;
}
html.dark .booking-form_btn {
  color: #FFFFFF;
  background-color: #FF8C42;
}
html.light .reservation__body {
  background-image: url(../images/background__day/reservation/pictures/spoon_and_bank.png), url(../images/background__day/reservation/pictures/red_pepper.png), url("../images/background__day/reservation/pictures/spoon_and_pepper.png"), url("../images/background__night/reservation/pictures/cabage_leaf.png");
  background-repeat: no-repeat;
  background-position: 0px 37px, 37% 0px, 28% 100%, 100% 100%;
  background-size: auto auto, auto auto, auto auto auto auto;
}
html.light .reservation__form-terms {
  color: #151515;
}
html.light .reservation__form-form {
  background-color: rgba(217, 217, 217, 0.59);
  box-shadow: 10px 19px 30px rgba(0, 0, 0, 0.25);
}
html.light .booking-form__title {
  color: #FF5B00;
}
html.light .booking-form__subtitle {
  color: #151515;
}
html.light .booking-form__text {
  color: #151515;
}
html.light .inputBlock__item {
  color: #151515;
}
html.light .inputBlock__item input {
  border-bottom: 2px dashed #151515;
  color: #151515;
}
html.light .booking-form_btn {
  color: #151515;
  background-color: #FF5B00;
}

.reservation__form {
  margin-left: 55%;
  width: 626px;
  padding-bottom: 76px;
}

.reservation__form-terms {
  font-family: "Quicksand", cursive;
  font-size: 21px;
  line-height: 1;
  padding: 19px 2px 32px 0px;
  text-align: end;
}

.reservation__form-form {
  border-radius: 10px;
}

.booking-form {
  padding: 38px 0px 224px 0px;
}

.booking-form__title {
  font-family: "Quicksand", cursive;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.booking-form__subtitle {
  font-family: "Quicksand", cursive;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  margin-bottom: 17px;
  text-transform: capitalize;
}

.booking-form__text {
  font-family: "Quicksand", cursive;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  margin-bottom: 214px;
}

.inputItems {
  padding: 0px 123px 0px 79px;
}

.inputBlock__item {
  font-family: "Quicksand", cursive;
  font-weight: 600;
  font-size: 21px;
  line-height: 1;
  width: 424px;
  display: flex;
  justify-content: space-between;
}
.inputBlock__item input {
  font-size: 20px;
  display: block;
  background-color: transparent;
}
.inputBlock__item:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
.inputBlock__item:last-child {
  margin: 0px 0px 76px 0px;
}
.inputBlock__item label {
  display: block;
}
.inputBlock__item:nth-child(1) input {
  width: 324px;
}
.inputBlock__item:nth-child(2) input {
  width: 342px;
}
.inputBlock__item:nth-child(3) input {
  width: 250px;
}
.inputBlock__item::nth-child(4) input {
  width: 280px;
}

.booking-form_btn {
  font-family: "Quicksand", cursive;
  font-weight: 600;
  font-size: 21px;
  line-height: 1;
  padding: 10px 30px;
  border-radius: 5px;
  margin-left: 34%;
}

/* =========== PIZZA ICONS  ==========*/