/* =========== FAMILY ==========*/

.family__body {
   display:flex;
   justify-content: space-between;
}

.family__content {
   padding: 314px 0px 134px 0px;
   position: relative;
   width: 40%;

   &>*:not(:last-child) {
      margin-bottom: 72px;
  }
}

.family__title {
   font-weight: 600;
   font-size: 90px;
   line-height: 1.25;
}

html {
   &.dark {
      .family__title {
         color: #FF8C42;
      }
      
      .family__subtitle {
           color: #FF8C42;
      }   
      
      .form-search__input {
         border: 4px solid #FF8C42;
      }

     .form-search__btn{
         background: #FF8C42;
         border: 4px solid #FF8C42;
      }

      .family__btn {
         background-color: #FF8C42;
      }

      .family__btn-link {
         color: #FFFFFF;
         background-color: #FF8C42;
     }
   }

   &.light {
      .family__title {
         color: #FF5B00;
      }

     .family__subtitle {
      color: #7B3000;
      }

      .form-search__input {
         border: 4px solid #FF5B00;
      }

     .form-search__btn {
         background: #FF5B00;
         border: 4px solid #FF5B00;
      }

      .family__btn {
         background-color: #FF5B00;
      }

      .family__btn-link {
         color: #F4F4F4;
         background-color: #FF5B00;
     }

   }

}

.family__subtitle {
   font-weight: 600;
   font-size: 30px;
   line-height: 1.25;
   text-transform: capitalize;
}

.form-search {
   display: flex;
   align-items: center;
}

.form-search__input {
   border-radius: 5px;
   width: 283px; 
   height: 48px;
   background-color: inherit;
   margin-right: 8px;
}

.form-search__btn {
   display: inline-flex;
   align-items: center;
   border-radius: 5px;
   width: 210px;
   height: 48px;
}

.form-search__icon {
   display: inline-block;
   margin: 0px 12px 0px 8px;
}

.form-search__text {
   font-weight: 600;
   font-size: 20px;    
   color: #FFFFFF;
}

.family__btn {
   display: inline-block;
   width: 191px;
   height: 68px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.family__btn-link {
   font-weight: 600;
   font-size: 24px;
}

.family__image {
   width: 60%;
   padding-right: 20px;  
   position: relative;
}

.family__image-burger {
   position: absolute;
   top: 168px;
   left: 0;
   width: 100%;
   height: 100%;   
   
   img {
      max-width: 100%;
      height: auto;
  }
}

.family__image-sun {
   position: absolute;
   bottom: 62px;
   right: 18px;
}

.family__image-moon {
   position: absolute;
   bottom: 62px;
   right: 18px;
}



