@import './_nullstyle';

%tplhtmlbody {
   height: 100%;
    line-height: 1;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

html,
body {
   @extend %tplhtmlbody;
}

/* ============================== */

html.dark body {
   background-color: #151515;
}

html.light body {
   background-color: #f4f4f4;
}

.hidden {
   display:none !important;
}

/* General wrapper */
.wrapper {
   min-height: 100%;
   overflow: hidden;
}

/* General container blocks */
[class*="__container"] {
   max-width: 1450px;
   margin: 0px auto;
}

.container-max {
   max-width: 1540px;
   margin: 0px auto;
}
.__ibg {
   position: relative;
}

.__ibg img {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@import './_header';
@import './_menu';
@import './_page';
@import './family';
@import './pricelist';
@import './_gourmet';
@import './bigbird';
@import './image';
@import './reservation';
@import './pizza_icons';




